.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:#EEEEEE
}


.navigation {
    display: flex;
    
    
}

.img {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
    
}
.option-1 {
    text-decoration: none;
    padding: 2px;
    color: black;
   
    
    
} 

.option-234 {
    background-color:#EEEEEE;
    text-decoration: none;
    color: black;
    text-shadow: black;
    padding: 2px;  
    
    
    
}

