:root {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:#EEEEEE;
    padding: 20px;
}
.img {
 width: 100px;
}

.navigation {
    display: flex;
    width: 500px;

    
    
}

.option-1 {
    text-decoration: none;
    padding: 2px;
    color: black;
   
    
    
} 

.option-234 {
    background-color:#EEEEEE;
    text-decoration: none;
    color: black;
    text-shadow: black;
    padding: 2px;  
    
    
    
    
}

